@font-face {
    font-family: 'MOLOT';
    src: url('/fonts/MOLOT.otf');
    font-weight: normal;
    font-style: normal;
}

* {
    color: white;
    font-family: 'MOLOT' !important;
    letter-spacing: 2px;
}




.header {
    background: rgb(0, 0, 0);
    background: linear-gradient(335deg, rgba(0, 0, 0, 1) 0%, rgba(4, 4, 5, 1) 35%, rgba(34, 34, 34, 1) 100%);
    padding-bottom: 80px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0 180px;
    position: fixed;
    top: 0;
    width: 101%;
    max-width: none;
    border-radius: 0px 0px 27px 27px;
    
    z-index: 999;
}

.header img {
    width: 200px;
}

.header .navbar {
    background: transparent;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #fff;
    border-radius: 0;
    box-shadow: none;
    border: none;

    height: 135px;
    display: flex;
}

@media (min-width:768px) {
    .header .navbar {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}


@media (min-width: 768px) {
    .header .navbar-nav .nav-link {
        padding-left: .7rem;
        padding-right: .7rem;
    }
}

@media (min-width: 992px) {
    .header .navbar-nav .nav-link {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }
}

.header .navbar.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
    font-size: 1.5em;
}

.header .navbar.navbar-light .navbar-nav .nav-link:focus,
.header .navbar.navbar-light .navbar-nav .nav-link:hover {
    color: gray !important;
    background-color: transparent;
}

.header .form-inline {
    height: 50px;
}

.header .navbar .form-inline label {
    color: #d9d9d9;
}

.header .navbar .form-inline .search-field {
    display: inline-block;
    width: 80%;
    background: none;
    border: none;
    border-bottom: 1px solid transparent;
    border-radius: 0;
    color: #fff;
    box-shadow: none;
    color: inherit;
    transition: border-bottom-color 0.3s;
}

.header .navbar .form-inline .search-field:focus {
    border-bottom: 1px solid #ccc;
}

.header .navbar-collapse{
    justify-content: space-evenly;
}

.profileContainer a img{
    width:100px;
    height:100px;
    margin:0 6px;
}
.profileContainer a{
    color: white !important;
    font-size: 1.5em;
}

.header .profileIcon{
    border-radius:100%;
    object-fit:cover;
}




.backImg{

    background-image: url(https://phonoteka.org/uploads/posts/2023-03/1679808391_phonoteka-org-p-khatsune-miku-oboi-krasivo-52.jpg);
    background-size: contain;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -3;
    top: 0;
    left: 0;
}

body {
    padding-top: 150px;
}

.musicCard {
    box-shadow: 0px 0px 20px darkgray;
    border-radius: 30px;
    height: 360px;
    margin: 46px;
    overflow: hidden;
    position: relative;
    width: 340px;

}


.music__meta {
    box-sizing: border-box;
    font-size: 24px;
    padding: 50px 20px;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.4);
    top: 0;
    width: 100%;
    z-index: 1;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.5);
}

.music__artist {
    font-weight: 300;
}

.music__bg {
    object-fit: cover;
    object-position: center;
    height: 100%;
    position: absolute;
    width: 100%;
}

.music__bg:before,
.music__bg:after {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}

.music__bg:after {
    background: linear-gradient(to top, #000, #fff);
    opacity: 0.2;
    mix-blend-mode: soft-light;
}

.music__controls {
    background-color: rgba(255, 255, 255, 0.2);
    bottom: 0;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.3);
    height: 150px;
    position: absolute;
    width: 100%;
}

.music__controls:before,
.music__controls:after {
    content: "";
    height: 100%;
    display: block;
    pointer-events: none;
    position: absolute;
    width: 100%;
}

.music__controls:before {
    box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.6);
    mix-blend-mode: soft-light;
}

.music__controls-bg {
    background-position: bottom center;
    background-size: cover;
    height: 100%;
    filter: blur(30px);
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.music__controls-bg:before {
    background: linear-gradient(to top, #000, #fff);
    content: "";
    display: block;
    height: 100%;
    opacity: 0.08;
    mix-blend-mode: soft-light;
    position: absolute;
    width: 100%;
}

.icon {
    font-size: 2.5em;
}

.icons {
    display: flex;
    justify-content: space-between;
    margin: 10px 30px;
    color: black !important;
}


.zone {
    margin: 0 60px;
}

.sidebar {
    position: fixed;
    width: 40px;
    height: 100vh;
    right: 0;
    z-index: 999;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    transition-duration: 1s;
    top: 0;
    padding: 0 !important;
}

.sidebar-open,
.sidebar-close {
    font-size: 3em;
    color: black;
}

.sidebar-main {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition-duration: 1s;
    flex-direction: column;
}

.sidebar-main .content {
    margin: 15px 10px;
    display: none;
}

.active {
    width: 350px;
}

.active-main {
    background-color: rgba(76, 29, 120, 0.7);
    display: flex;
}


.active-main .content {
    display: block;
}

a,
.icon i {
    text-decoration: none !important;
    color: black !important;
    transition-duration: 100ms;
}

a:hover,
.icon i:hover {
    transition-duration: 100ms;
    color: gray !important;
}

.btn-purple {
    background-color: #676767;
    padding: 11px !important;
    width: 200px;
    border-radius: 100px !important;
    position: relative;
    top: 30px;
    left: 100px;
    color: white !important;
}

.headerH {
    color: white;
    margin-bottom: 40px;
}

.musics {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tb {
    display: table;
    width: 100%;
}

.td {
    display: table-cell;
    vertical-align: middle;
}

input,
button,
label {
    color: #fff;
    font-family: Nunito;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

#cover {
    background-color: #a8a8a8;
    border-radius: 19px;
    box-shadow: 0 10px 30px #a8a8a8, 0 0 0 20px #ffffffeb;
    transform: scaleX(0.7) scaleY(0.6);
    z-index: 998;
}

form {
    height: 96px;
}

form label {
    font-size: 1.8em;
}

form .form-text {
    font-size: 1.2em;
    color: #d3d3d3;
}

input[type="radio"] span {
    color: white !important;
}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea {
    width: 45%;
    height: 40px;
    font-size: 1.5em;
    border-radius: 20px;
    background-color: #d7d7d7 !important;
    line-height: 1;
    color: white;
}

.td input[type="text"] {
    width: 100%;
    height: 65px;
    font-size: 2em;
}

input[type="text"]::placeholder {
    color: #e16868;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
    margin: 0 20px;
}

#s-cover {
    width: 1px;
    padding-left: 35px;
}

button {
    position: relative;
    display: block;
    width: 84px;
    height: 96px;
    cursor: pointer;
}

#s-circle {
    position: relative;
    top: -8px;
    left: 8px;
    width: 43px;
    height: 43px;
    margin-top: 0;
    border-width: 15px;
    border: 15px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}

.sidebar button span {
    position: absolute;
    top: 68px;
    left: 43px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(45deg);
    transition: 0.5s ease all;
}

.sidebar button span:before,
.sidebar button span:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: #fff;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}

#s-cover:hover #s-circle {
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: #fff;
    border-radius: 20px;
}

#s-cover:hover span {
    top: 50%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
}

#s-cover:hover button span:before {
    bottom: 11px;
    transform: rotateZ(52deg);
}

#s-cover:hover button span:after {
    bottom: -11px;
    transform: rotateZ(-52deg);
}

#s-cover:hover button span:before,
#s-cover:hover button span:after {
    right: -6px;
    width: 40px;
    background-color: #fff;
}

form {
    margin: 50px;
}





.audio-player {
    --player-button-width: 3em;
    --sound-button-width: 2em;
    --space: .5em;
    width: 80%;
    height: 3rem;
    margin: 0 10%;
}

.icon-container {
    width: 100%;
    height: 100%;
    background-color: #DE5E97;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.audio-icon {
    width: 90%;
    height: 90%;
}

.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.player-button {
    background-color: transparent;
    border: 0;
    width: var(--player-button-width);
    height: var(--player-button-width);
    cursor: pointer;
    padding: 0;
}

.timeline {
    -webkit-appearance: none;
    width: calc(100% - (var(--player-button-width) + var(--sound-button-width) + var(--space)));
    height: .5em;
    background-color: #e5e5e5;
    border-radius: 5px;
    background-size: 0% 100%;
    background-image: linear-gradient(#DE5E97, #DE5E97);
    background-repeat: no-repeat;
    margin-right: var(--space);
}

.timeline::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: all .1s;
    background-color: #a94672;
}

.timeline::-moz-range-thumb {
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: all .1s;
    background-color: #a94672;
}

.timeline::-ms-thumb {
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: all .1s;
    background-color: #a94672;
}

.timeline::-webkit-slider-thumb:hover {
    background-color: #943f65;
}

.timeline:hover::-webkit-slider-thumb {
    opacity: 1;
}

.timeline::-moz-range-thumb:hover {
    background-color: #943f65;
}

.timeline:hover::-moz-range-thumb {
    opacity: 1;
}

.timeline::-ms-thumb:hover {
    background-color: #943f65;
}

.timeline:hover::-ms-thumb {
    opacity: 1;
}

.timeline::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

.timeline::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

.timeline::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

.sound-button {
    background-color: transparent;
    border: 0;
    width: var(--sound-button-width);
    height: var(--sound-button-width);
    cursor: pointer;
    padding: 0;
}



.alert {
    position: fixed;
    width: 50%;
    z-index: 999;
    margin-top: 100px;
    margin-left: 25%;
    margin-right: 25%;
}